.App {
  text-align: center;
}
.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.forms input {
  width: 150px;
  height: 30px;
  margin: 10px;
  font-size: 20px;
}
.div1 {
  width: 50%;
  height: auto;
  border: 1px solid black;
  margin-left: 25%;
  top: 5%;
  padding: 30px;
}
/* .text{
  text-align: center;
} */
.box {
  width: 50%;
  height: auto;
  border: 1px solid black;
  margin-left: 20%;
  box-shadow: 10px 10px 5px gray;
  margin-top: 2%;
  padding: 20px;
}
.box2 {
  width: 50%;
  height: auto;
  border: 1px solid black;
  margin-left: 20%;
  box-shadow: 10px 10px 5px gray;
  margin-top: 2%;
  padding: 20px;
}
.input{
  border: none;
  width: 100%;
  font-size: 15px;
  border-bottom: 1px solid black;
  padding: 2px;
  margin-top: 10px;
  margin-left: 40px;
  position: relative;
  float: right;
  outline: none;
}